@model SocialRichAlejandro.ViewModel.EditUserSocialNetViewModel

@{
    ViewData["Title"] = "EditUser";
}

<script src="~/js/User.js"></script>

<h2>EditUser</h2>

<div class="row">
    <div class="col-md-3">
        <h2>Añadir favorito</h2>
        <form asp-controller="User" asp-action="Edit" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div>
                <label asp-for="UserId">UserId:</label>
                <input asp-for="UserId" type="number" name="UserId" value="@(Model.UserId)" readonly />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div>
                <label>Favourite Network:</label>
                <select id="FavouriteNetWork" class="form-control" name="SocialNetworkId">
                </select>
            </div>
            <div>
                <input asp-for="IsFavourite" class="hidden" type="text" name="IsFavourite" value="True" />
                <span asp-validation-for="IsFavourite" class="text-danger"></span>
            </div>
            <div class="button">
                <button class="btn btn-info" type="submit">Search</button>
            </div>
        </form>
    </div>

    <div class="col-md-3">
        <h2>Añadir red social</h2>
        <form asp-controller="User" asp-action="Edit" method="post">
            <div>
                <label asp-for="UserId">UserId:</label>
                <input asp-for="UserId" type="number" name="UserId" value="@(Model.UserId)" readonly />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div>
                <label>Favourite Network:</label>
                <select id="addNetWork" class="form-control" name="SocialNetworkId">
                </select>
            </div>
            <div>
                <input asp-for="IsFavourite" class="hidden" type="text" name="IsFavourite" value="False" />
                <span asp-validation-for="IsFavourite" class="text-danger"></span>
            </div>
            <div class="button">
                <button class="btn btn-info" type="submit">Search</button>
            </div>
        </form>
    </div>
</div>


@Html.ActionLink("Volver", "Details", "User", null, new { @class = "margin-top btn btn-info" })





<script>
    var UrlGetSocialNetworkList = "@(Url.Action("GetSocialNetworkList","User"))";
    $(document).ready(function () {
        getEditSocialNetworkList();
    });

</script>


