@model SocialRichAlejandro.ViewModel.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
 
    @Html.ActionLink("Usuarios", "Index", "User", null, new { @class = "btn btn-info margin-top" })

    @Html.ActionLink("Redes Sociales", "Index", "SocialNetwork", null, new { @class = "btn btn-info margin-top" })


</div>
